<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.johnbalderson.mypersonaltrainer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SessionListActivity"
                  android:label="Session List" >
        </activity>
        <activity android:name=".AddCustActivity"
                  android:label="Add Customer" >
        </activity>
        <activity android:name=".EditCustActivity"
                  android:label="Edit Customer" >
        </activity>
        <activity android:name=".CustListActivity"
                  android:label="Customer List" >
        </activity>
        <activity android:name=".AddSessionActivity"
                  android:label="Add Session" >
        </activity>
        <activity android:name=".CompleteSessionActivity"
                  android:label="Complete Session" >
        </activity>
        <activity android:name=".LogoffActivity"
                  android:label="Logoff" >
        </activity>

    </application>

</manifest>